@import "~styles/utils/modules-entry.scss";

/*
  For breakpoint-md (tablets), show the links as compact buttons with labels below icons.
  For breakpoint-lg (desktop), show the links as traditional link with icon to the left.
*/
.nav {
  display: none;
  justify-content: space-around;
  align-items: stretch;
  max-height: $navtab-height;
  overflow-y: auto;

  & > div:first-child {
    overflow: auto;
    display: flex;
    flex-direction: column;
  }

  @include media-breakpoint-up(md) {
    flex-direction: column;
    justify-content: flex-start;
    box-shadow: none;
    display: flex;
  }

  @include media-breakpoint-up(xl) {
  }

  @include media-breakpoint-down(sm) {
    position: sticky;
    top: 0;
    background-color: var(--body-bg);

    // Fake shadow - can't use box shadow because they will appear on top of the
    // top nav bar
    &::after {
      content: "";
      position: absolute;
      right: 0;
      bottom: -$navtab-shadow-height;
      left: 0;
      height: $navtab-shadow-height;
      background: linear-gradient(
        to bottom,
        var(--navtab-shadow),
        rgba(#000, 0)
      );
      pointer-events: none;
    }
  }
}

.link {
  cursor: pointer;
  line-height: 1.6;
  text-align: center;
  color: var(--gray-mid);
  transition: color 0.15s;

  &.linkActive {
    color: theme-color(primary);
  }

  &:hover .title {
    text-decoration: underline;
  }

  @include media-breakpoint-up(md) {
    display: flex;
    min-width: 0;
    padding: 0.8rem 2rem;
  }
}

.title {
  display: none;
  font-size: 0.7rem;

  @include media-breakpoint-up(md) {
    display: block;
  }

  @include media-breakpoint-up(xl) {
    margin-left: 0.4rem;
    font-size: 1rem;
  }
}

.hiddenOnMobile {
  @include media-breakpoint-down(sm) {
    display: none;
  }
}

.divider {
  $size: 70%;
  $margin: 0.3rem;

  composes: hiddenOnMobile;
  opacity: 0.6;
  flex: 0 0 1px;
  margin: $margin ((100% - $size) * 0.5) 0;
  background: var(--gray-lighter);

  @include media-breakpoint-up(xl) {
    margin: $margin 1rem $margin 1.4rem;
  }
}

.updateDot {
  position: absolute;
  top: 0.5rem;
  width: 0.5rem;
  height: 0.5rem;
  padding: 0;
  margin-left: 1rem;
  border-radius: 50%;
  font-size: $font-size-xs;
  line-height: 1.2;
  background: theme-color(success);

  :global {
    animation: zoomIn 0.4s;
  }

  @include media-breakpoint-up(md) {
    right: 1.4rem;
  }

  @include media-breakpoint-up(xl) {
    display: none;
  }
}
